<div class="col-md-12">
    <div class="b-img-frame">
        <div class="b-img-frame-inner">
            <a href="#">
                <img src="/images/ref1.jpg">
            </a>
        </div>
    </div>
    <div class="b-img-frame">
        <div class="b-img-frame-inner">
            <a href="#">
                <img src="/images/ref2.jpg">
            </a>
        </div>
    </div>
    <div class="b-img-frame">
        <div class="b-img-frame-inner">
            <a href="#">
                <img src="/images/ref3.jpg">
            </a>
        </div>
    </div>
    <div class="b-img-frame">
        <div class="b-img-frame-inner">
            <a href="#">
                <img src="/images/ref4.jpg">
            </a>
        </div>
    </div>
    <div class="b-img-frame">
        <div class="b-img-frame-inner">
            <a href="#">
                <img src="/images/ref5.png">
            </a>
        </div>
    </div>
    <div class="b-img-frame">
        <div class="b-img-frame-inner">
            <a href="#">
                <img src="/images/ref6.png">
            </a>
        </div>
    </div>
    <div style="clear: both">

    </div>
</div>
<style>
    .b-img-frame {
        border: 1px solid rgb(200, 200, 200);
        margin-right: 7px;
        margin-bottom: 7px;
        background-color: white;
        width: 222px;
        height: 222px;
        position: relative;
        float: left;
        display: block;
    }

        .b-img-frame .b-img-frame-inner {
            position: absolute;
            width: 210px;
            left: 5px;
            top:5px;
            text-align: center;
            vertical-align: middle;
        }

            .b-img-frame .b-img-frame-inner img {
                max-width: 210px;
                max-height: 210px;
            }
</style>