<div class="col-md-12">
    <table class="table table-bordered table-responsive table-condensed">
        <tr>
            <th>
                Time
            </th>
            <th>
                Hospital
            </th>
            <th>
                Doctor
            </th>
            <!--<td>
                Action
            </td>-->
        </tr>
        <tr>
            <td>
                08:00 27/03/2016
            </td>
            <td>
                Becamex Hospital
            </td>
            <td>
                Tran Cong Duy
            </td>
            <!--<td>
                <input class="btn btn-default" type="button" value="Take turn" />
            </td>-->
        </tr>
        <tr>
            <td>
                09:00 01/04/2016
            </td>
            <td>
                My Phuoc Hospital
            </td>
            <td></td>
            <!--<td>
                <input class="btn btn-default" type="button" value="Take turn" />
            </td>-->
        </tr>
    </table>
</div>
<style>
    th{
         text-align:center;
        background-color:rgb(250,250,250);
    }
</style>