<div class="col-md-12">
    <table class="table table-bordered table-responsive table-condensed">
        <tr>
            <th>
                Time
            </th>
            <th>
                Hospital
            </th>
            <th>
                Doctor
            </th>
        </tr>
        <tr ng-repeat="appointment in appointments">
            <td ng-bind="appointment.time"></td>
            <td ng-bind="appointment.department.hospital.name"></td>
            <td ng-bind="appointment.doctor.name"></td>
        </tr>
    </table>
</div>
<style>
    th {
        text-align: center;
        background-color: rgb(250,250,250);
    }
</style>