
<div class="col-md-12">
    <table class="table table-bordered table-condensed" ng-repeat="record in records">
        <tbody>
            <tr>
                <th colspan="4">{{record.appointment.time}} <span ng-show="!record.appointment.time">(Next re-check at XXX)</span></th>
            </tr>
            <tr>
                <td width="120px">Hospital:</td>
                <td>
                    Hospital 2
                </td>
                <td width="120px">Doctor:</td>
                <td>
                    {{record.appointment.doctor.displayName}}
                </td>
            </tr>
            <tr>
                <td colspan="1">Sickness:</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="1">Diagnose:</td>
                <td colspan="3">
                    <span ng-repeat="result in record.medicalResults">
                        {{result.disease.name}}{{!$last?',':''}}

                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="1">Examination:</td>
                <td colspan="3"><button class="btn btn-sm btn-default">Detail</button> </td>
            </tr>
            <tr>
                <td colspan="1">Treatment:</td>
                <td colspan="3"><button class="btn btn-sm btn-default">Detail</button> </td>
            </tr>
            <tr>
                <td colspan="1">Comment:</td>
                <td colspan="3"></td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    textarea {
        width: 100%;
    }

    th {
        text-align: center;
        background-color: rgb(250,250,250);
    }
</style>