
<div class="col-md-12">
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <th colspan="4">XX, XX, XXX (Next re-check at XXX)</th>
            </tr>
            <tr>
                <td width="120px">Hospital:</td>
                <td>
      
                </td>
                <td width="120px">Doctor:</td>
                <td>
                   
                </td>
            </tr>
            <tr>
                <td colspan="1">Sickness:</td>
                <td colspan="3">

                </td>
            </tr>
            <tr>
                <td colspan="1">Diagnose:</td>
                <td colspan="3">

                </td>
            </tr>
            <tr>
                <td colspan="1">Examination:</td>
                <td colspan="3"><button class="btn btn-sm btn-default">Detail</button> </td>
            </tr>
            <tr>
                <td colspan="1">Treatment:</td>
                <td colspan="3"><button class="btn btn-sm btn-default">Detail</button> </td>
            </tr>
            <tr>
                <td colspan="1">Comment:</td>
                <td colspan="3">

                </td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    textarea {
        width: 100%;
    }

    th {
        text-align: center;
        background-color: rgb(250,250,250);
    }
</style>