<div class="col-md-12">
    <div style="width:700px; margin:auto" class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title text-primary">   Request detail</h4>
         
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr ng-repeat="disease in request.diseases">
                    <td colspan="2" ng-bind="disease.name"></td>
                </tr>
           </table>
            <input class="btn btn-sm btn-primary pull-right" style="margin-left:7px" type="button" value="Accept" ng-click="accept()" />
            <input class="btn btn-sm btn-default pull-right" type="button" value="Deline" ng-click="reject()" />
        </div>
    </div>
</div>