<div class="col-md-12">
    <center><h2>Request detail</h2></center>
    <table class="table table-bordered">
        <tr>
            <td colspan="2">Diseases</td>
        </tr>
        <tr>
            <td colspan="2">
                Zika
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Rubenla
            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-primary" type="button" value="Accept" />
            </td>
            <td>
                <input class="btn btn-default" type="button" value="Deline" />
            </td>
        </tr>
    </table>
</div>