<table>
    <tr>
        <td>
            Name
        </td>
        <td>
            Time
        </td>
        <td>
            Status
        </td>
        <td>
            Comment
        </td>
        <td>
            Action
        </td>
    </tr>
    <tr>
        <td>
            Nguyen Van A
        </td>
        <td>
            08:00 27/03/2016
        </td>
        <td>
            Waiting
        </td>
        <td>
            ...
        </td>
        <td>
            <input type="button" value="Take turn" />
        </td>
    </tr>
    <tr>
        <td>
            Nguyen Thi N
        </td>
        <td>
            08:00 27/03/2016
        </td>
        <td>
            Finished
        </td>
        <td>
            ...
        </td>
        <td>
            <input type="button" value="Take turn" />
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            Name
        </td>
        <td>
            Time
        </td>
        <td>
            Status
        </td>
        <td>
            Comment
        </td>
        <td>
            Action
        </td>
    </tr>
    <tr>
        <td>
            Nguyen Van A
        </td>
        <td>
            08:00 27/03/2016
        </td>
        <td>
            Comming
        </td>
        <td>
            ...
        </td>
        <td>
            <input type="button" value="Take turn" />
        </td>
    </tr>
    <tr>
        <td>
            Nguyen Thi N
        </td>
        <td>
            08:00 27/03/2016
        </td>
        <td>
            Skipped
        </td>
        <td>
            ...
        </td>
        <td>
            <input type="button" value="Take turn" />
        </td>
    </tr>
</table>