<table class="table table-bordered">
    <tr>
        <td>
            #
        </td>
        <td>
            Name
        </td>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            Panadol
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Vitamin B3
        </td>
    </tr>
    <tr>
        <td>
            3
        </td>
        <td>
            Tiffy
        </td>
    </tr>
    <tr>
        <td>
            4
        </td>
        <td>
            Decolgen
        </td>
    </tr>
</table>