<div class="col-md-12">
    <div class="form-group">
        <div class="col-md-5">
            <input class="form-control" type="text" placeholder="What's here?" />
        </div>
        <input ng-click="showTable = true" class="btn btn-sm btn-default" type="button" value="Submit" />
    </div>
    <table ng-show="showTable" class="table table-bordered">
        <tr>
            <td>
                #
            </td>
            <td>
                Name
            </td>
            <td>
                Quatity
            </td>
            <td>
                Unit
            </td>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                Panadol
            </td>
            <td>
                1
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                Vitamin B3
            </td>
            <td>
                1
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                Tiffy
            </td>
            <td>
                1
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                Decolgen
            </td>
            <td>
                1
            </td>
            <td></td>
        </tr>
    </table>
</div>