<div style="width: 800px; margin:auto">
        <table ng-hide="isSuccess || isError" style="margin-bottom: 7px" class="table table-bordered table-responsive table-striped">
            <tr>
                <th style="text-align:center; font-size:18px" colspan="2">
                    REGISTER FOR TREATMENT
                </th>
            </tr>
            <tr>
                <td>
                    City/Province:
                </td>
                <td>
                    <select ng-options="item as item.province for item in data"
                            ng-model="provide"></select>
                </td>
            </tr>
            <tr>
                <td>
                    Hospital/Clinic:
                </td>
                <td>
                    <select ng-options="item as item.name for item in provide.hospitals"
                             ng-model="hospital"></select>
                </td>
            </tr>
            <tr>
                <td>
                    Department:
                </td>
                <td>
                    <select ng-options="item as item.name for item in hospital.departments"
                            ng-model="department"></select>
                </td>
            </tr>
            <tr>
                <td>
                    From:
                </td>
                <td>
                    <input ng-model="model.fromTime" id="fromTime" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    To:
                </td>
                <td>
                    <input ng-model="model.toTime" id="toTime" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Doctor (Optional):
                </td>
                <td>
                    <select ng-options="item as item.displayName for item in department.doctors"
                            ng-model="doctor"></select>
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <input type="text" ng-model="model.Description"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button ng-click="submit()" style="float: right;" class="btn btn-sm btn-primary">
                        Register
                    </button>
                </td>
            </tr>
        </table>
       
    <div ng-show="isError" class="panel panel-danger" style="width: 400px; margin: auto">
        <div class="panel-heading">
            Failed!!!
        </div>
        <div class="panel-body">
            <h3>
                We can not complete your treatment schedule!!!
            </h3>
            There is already an appointment at ...
            <br>
            Please choose another time
        </div>
        <div>
            <button style="float: right; margin-right: 14px; margin-bottom: 7px" class="btn btn-sm btn-danger">Cancel</button>
            <button style="float: right; margin-right: 7px; margin-bottom: 7px" class="btn btn-sm btn-default">Choose time</button>
            <div style="clear: both"></div>
        </div>
    </div>

    <div ng-show="isSuccess" class="panel panel-primary" style="width: 400px; margin: auto">
        <div class="panel-heading">
            Successed!!!
        </div>
        <div class="panel-body">
            <h3>
                You have completed a treatment schedule!!!
            </h3>
            <br />
            Your appointment is at XX:XX at XXX.
        </div>
        <div>
            <button style="float: right; margin-right: 14px; margin-bottom: 7px" class="btn btn-sm btn-primary" ui-sref="Dashboard">Ok</button>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<div style="clear:both; height:60px"></div>
<style>
    .panel-body{
        color:rgb(80,80,80);
    }

    input {
        width: 100%;
    }

    select {
        height: 30px;
        width: 100%;
    }
</style>