<div class="col-md-4">
    <table class="table table-condensed table-bordered">
        <tr>
            <th>
                Diseases
            </th>
            <th>
                Amount
            </th>
        </tr>
        <tr ng-repeat="disease in diseases">
            <td ng-bind="disease.name"></td>
            <td ng-bind="disease.ammount"></td>
        </tr>
    </table>
</div>
<div class="col-md-8" id="chart_div1"></div>

<div class="col-md-8">
    <table class="table table-condensed table-bordered">
        <tr>
            <th>
                Diseases
            </th>
            <th>
                Amount
            </th>
        </tr>
        <tr ng-repeat="district in districts">
            <td ng-bind="district.name"></td>
            <td ng-bind="district.ammount"></td>
        </tr>
    </table>
</div>
<div class="col-md-8" id="chart_div2"></div>

<style>
    textarea {
        width: 100%;
    }

    th {
        text-align: center;
        background-color: rgb(250,250,250);
    }
</style>