@{
    ViewData["Title"] = "Home Page";
}

<!--Theme-->
<link href="/css/themes/theme-1.css" rel="stylesheet" />
<link href="/css/plugins.css" rel="stylesheet" />
<link href="/css/styles.css" rel="stylesheet" />

<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/lib/jquery/dist/jquery.js"></script>
<link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/loader.js"></script>

<script src="/controllers/dashBoardCtrl.js"></script>
<script src="/controllers/doctorScheduleCtrl.js"></script>
<script src="/controllers/patientScheduleCtrl.js"></script>
<script src="/controllers/statisticCtrl.js"></script>

<script src="/js/config.router.js"></script>
<div ng-app="app">
    <h1>Index</h1>
    <ui-view></ui-view>
</div>
