<!DOCTYPE html>
<html ng-app="app">
<head>
    <title ng-bind="pageTitle()"></title>

    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/themes/theme-1.css" id="skin_color" rel="stylesheet" />
    <link href="/css/plugins.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/loader.js"></script>

    <script src="/vendor/moment/moment.min.js"></script>
    <script src="/vendor/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        var app = angular.module('app', ['ui.router']);
    </script>

    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/themify-icons/themify-icons.min.css">
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">

    <!--Controllers-->
    <script src="/controllers/indexCtrl.js"></script>
    <script src="/controllers/dashBoardCtrl.js"></script>
    <script src="/controllers/doctorScheduleCtrl.js"></script>
    <script src="/controllers/patientScheduleCtrl.js"></script>
    <script src="/controllers/statisticCtrl.js"></script>
    <script src="~/controllers/NotificationCtrl.js"></script>
    <script src="/controllers/registerTreatmentCtrl.js"></script>
    <script src="/controllers/medicalRecordCtrl.js"></script>
    <script src="/controllers/testCtrl.js"></script>

    <!--Services-->
    <script src="/services/registertreatmentservice.js"></script>
    <script src="/services/doctorScheduleService.js"></script>

    <script src="/js/config.router.js"></script>
</head>
<body ng-controller="IndexCtrl">
    <div id="app">
        <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <nav>
                    <ul class="main-navigation-menu">
                        <li ng-class="state==1?'active open':''">
                            <a ui-sref="Dashboard" ng-click="state=1">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-home"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Dashboard </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ng-class="state==2?'active open':''">
                            <a ui-sref="RegisterTreatment" ng-click="state=2">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-shift-right"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Register For Treatment </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ng-class="state==3?'active open':''">
                            <a ui-sref="DoctorSchedule" ng-click="state=3">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-support"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Treatment Plan </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ng-show="role == 'Doctor'" ng-class="state==4?'active open':''">
                            <a ui-sref="PatientSchedule" ng-click="state=4">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-layers-alt"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title">Patient Appointment </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ng-class="state==5?'active open':''">
                            <a ui-sref="MedicalRecord" ng-click="state=5">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-bag"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Medical Record </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ng-show="role == 'Manager'" ng-class="state==6?'active open':''">
                            <a ui-sref="Statistic" ng-click="state=6">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-image"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Statistic </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ng-show="role == 'Pharmacist'" ng-class="state==6?'active open':''">
                            <a ui-sref="Pharmacy" ng-click="state=6">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-image"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Pharmacy </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="app-content">
            <header style="background-color:white" class="navbar navbar-default navbar-static-top">
                <div class="navbar-collapse" style="margin:0px">
                    <ul class="nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="ti-check-box"></i> <span>Notifications</span>
                            </a>
                            <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">
                                <li>
                                    <span style="text-align:center" class="dropdown-header"> </span>
                                </li>
                                <li>
                                    <div class="drop-down-wrapper ps-container">
                                        <div class="list-group no-margin">
                                           @*<a class="media list-group-item" href="">
                                                    <span class="media-body block no-margin"> Notification 1 </span>
                                                </a>
                                                <a class="media list-group-item" href="">
                                                    <span class="media-body block no-margin"> Notification 2 </span>
                                                </a>*@
                                            <a class="media list-group-item" ng-repeat="noti in notifications" href="{{noti.url}}">
                                                <span style="line-height:16px" class="media-body block no-margin"> {{noti.content}} </span>                                 
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="view-all">
                                    <div style="height:10px"></div>
                                </li>
                            </ul>
                        </li>
                        <!-- start: USER OPTIONS DROPDOWN -->
                        <li class="dropdown current-user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/user-2-icon.png" alt=""> <span class="username">User <i class="ti-angle-down"></i></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="pages_user_profile.html">
                                        My Profile
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="logout()">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: USER OPTIONS DROPDOWN -->
                    </ul>
                </div>
            </header>
            <div class="main-content" style="margin-top:50px; padding-top:50px; background-color:white; min-height:570px">
                <ui-view></ui-view>
                <div style="clear:both"></div>
            </div>
        </div>
        <footer>
            <div class="footer-inner">
                <div class="pull-left">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase">Healthcare social network</span> - <span>Smart City Hackathon Contest</span>
                </div>
                <div class="pull-right">
                    <span class="go-top" onclick="window.scrollTo(0,0)"><i class="ti-angle-up"></i></span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
