<!DOCTYPE html>
<html ng-app="app">
<head>
    <title ng-bind="pageTitle()"></title>

    <link href="/css/themes/theme-1.css" rel="stylesheet" />
    <link href="/css/plugins.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/loader.js"></script>
    <script src="/vendor/moment/moment.js"></script>
    <script src="/vendor/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="vendor/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css/" />
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/themify-icons/themify-icons.min.css">
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    
    <!--Controllers-->
    <script src="/controllers/dashBoardCtrl.js"></script>
    <script src="/controllers/doctorScheduleCtrl.js"></script>
    <script src="/controllers/patientScheduleCtrl.js"></script>
    <script src="/controllers/statisticCtrl.js"></script>
    <script src="/controllers/registerTreatmentCtrl.js"></script>

    <!--Services-->
    <script src="/services/registertreatmentservice.js"></script>

    <script src="/js/config.router.js"></script>
</head>
<body>
    <div id="app">
        <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <nav>
                    <ul class="main-navigation-menu">
                        <li class="active open">
                            <a ui-sref="Dashboard">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-home"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Dashboard </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-settings"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> UI Elements </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-settings"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> UI Elements </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="DoctorSchedule">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-settings"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Medical Record </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="Statistic">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-settings"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title"> Statistic </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="app-content">
            <header style="background-color:white" class="navbar navbar-default navbar-static-top">  
            
                <div class="navbar-collapse" style="margin:0px">
                    <ul class="nav navbar-right">
                        <!-- start: USER OPTIONS DROPDOWN -->
                        <li class="dropdown current-user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/user-2-icon.png" alt=""> <span class="username">User <i class="ti-angle-down"></i></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-dark">
                                <li>
                                    <a href="pages_user_profile.html">
                                        My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="login_signin.html">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: USER OPTIONS DROPDOWN -->
                    </ul>
                </div>
            </header>
            <div class="main-content" style="margin-top:0px">
                <ui-view></ui-view>
            </div>
        </div>
        <footer>
            <div class="footer-inner">
                <div class="pull-left">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase">Healthcare social network</span> - <span>Smart City Hackathon Contest</span>
                </div>
                <div class="pull-right">
                    <span class="go-top"><i class="ti-angle-up"></i></span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
